a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color: #ffff;
    text-decoration: none;
}

.tabLink {
    color: #495057;
    border-color: #dee2e6;
    border: 1px solid transparent;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

#admin-key-form-tab-Submit,
#admin-key-form-tab-View,
#admin-key-form-tab-Access {
    color: #495057;
    /* border-color: #dee2e6;
    border: 1px solid transparent;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem; */
}